@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: lightgreen;
}
.top-division {
    width: 20px;
    height: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Raleway';
}
.cross{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.DolbyDigital-logo {
    height: 25px;   
    margin-left: 20px;
}
.MarocTelecom-logo {
    height: 50px;
}
.FRMF-logo {
    margin-top: 10px;
    height: 80px;
}